# Ignore Jupyter checkpoint files
.ipynb_checkpoints/

# Ignore virtual environment and cache files
venv/
__pycache__/

# Ignore large datasets and models
*.csv
*.h5
*.pkl

# Ignore logs
*.log

# Env file
.env